<h1>w3resources Pandas</h1>

exercises for Pandas from w3resources: https://www.w3resource.com/python-exercises/pandas/index.php

<h2>Series</h2>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1
ser1=pd.Series(np.arange(5))
ser1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [3]:
# 2
ser1_list=list(ser1)
print(ser1_list)
# sol
print(type(ser1))
ser1_list=ser1.tolist()
print(ser1_list)
print(type(ser1_list))

[0, 1, 2, 3, 4]
<class 'pandas.core.series.Series'>
[0, 1, 2, 3, 4]
<class 'list'>

In [4]:
# 3
ser1=pd.Series([2, 4, 6, 8, 10])
ser2=pd.Series([1, 3, 5, 7, 10])
print(ser1,ser2)
print(ser1+ser2)
print(ser1-ser2)
print(ser1*ser2)
print(ser1/ser2)

0     2
1     4
2     6
3     8
4    10
dtype: int64 0     1
1     3
2     5
3     7
4    10
dtype: int64
0     3
1     7
2    11
3    15
4    20
dtype: int64
0    1
1    1
2    1
3    1
4    0
dtype: int64
0      2
1     12
2     30
3     56
4    100
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.000000
dtype: float64

In [5]:
# 4
ser1=pd.Series([2, 4, 6, 8, 10])
ser2=pd.Series([1, 3, 5, 7, 10])
print(ser1==ser2)
print(ser1>ser2)
print(ser1<ser2)

0    False
1    False
2    False
3    False
4     True
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [6]:
# 5
dict1={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ser_d=pd.Series(dict1)
print(ser_d)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [7]:
# 6
arr1=np.array([10, 20, 30, 40, 50])
print(arr1)
ser_a=pd.Series(arr1)
print(ser_a)

[10 20 30 40 50]
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
# 7
ser1=pd.Series([100,200,'python',300.12,400])
#ser2=ser1.astype(float)
print(ser1)
#print(ser2)
# sol
ser2=pd.to_numeric(ser1, errors='coerce')
print(ser2)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [9]:
# 8
df1=pd.DataFrame(np.arange(15).reshape(5,3), columns=['col1','col2','col3'])
print(df1)
ser1=pd.Series(df1['col1'])
print(ser1)
print(type(ser1))

   col1  col2  col3
0     0     1     2
1     3     4     5
2     6     7     8
3     9    10    11
4    12    13    14
0     0
1     3
2     6
3     9
4    12
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
# 9
ser1=pd.Series([100,200,'python',300.12,400])
arr1=np.array(ser1)
print(arr1)

[100 200 'python' 300.12 400]

In [11]:
# 10
ser1=pd.Series([['red','green','white'],['red','black'],'yellow'])
print(ser1)
# sol
ser1=ser1.apply(pd.Series).stack().reset_index(drop=True)
print(ser1)

0    [red, green, white]
1           [red, black]
2                 yellow
dtype: object
0       red
1     green
2     white
3       red
4     black
5    yellow
dtype: object

In [12]:
# 11
ser1=pd.Series([100,200,'python',300.12,400])
ser1=pd.Series(ser1.to_string())
print(ser1)
print(type(ser1))
print(ser1.sort_values())
# sol
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print(s.sort_values())

0    0       100\n1       200\n2    python\n3    30...
dtype: object
<class 'pandas.core.series.Series'>
0    0       100\n1       200\n2    python\n3    30...
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [13]:
# 12
ser1=pd.Series([100,200,'python',300.12,400])
ser2=pd.Series([500,'php'])
print(ser1.append(ser2))

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [14]:
# 13
ser1=pd.Series(np.arange(11))
print(ser1)
ser2=ser1[ser1<6]
print(ser2)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [15]:
# 14
ser1=pd.Series(range(1,6),index=['a','b','c','d','e'])
print(ser1)
order=['b','a','c','d','e']
print(ser1[order])
# sol
ser1=ser1.reindex(index=order)
print(ser1)

a    1
b    2
c    3
d    4
e    5
dtype: int64
b    2
a    1
c    3
d    4
e    5
dtype: int64
b    2
a    1
c    3
d    4
e    5
dtype: int64

In [16]:
# 15
ser1=pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(ser1.mean(),ser1.std())

4.818181818181818 2.522624895547565

In [ ]:
# 16
ser1=pd.Series([1,2,3,4,5])
ser2=pd.Series([2,4,6,8,10])